In [16]:
# Libs

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

In [17]:
# Dataset

data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
# visualizando dados nulos

data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
# removendo dados nulos da coluna "Embarked"

data.dropna(subset="Embarked", inplace=True)

In [20]:
# Verificando a remoção 

data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [21]:
# Verificando a moda das idades

data["Age"].mode()

0    24.0
Name: Age, dtype: float64

In [22]:
# adiciona moda em linhas nulas da coluna "Age"

data["Age"].fillna(data["Age"].mode(), inplace = True)

In [23]:
# atribui 0 para masculino e 1 para feminino

X = data[["Sex","Age","Pclass"]].copy()
y = data["Survived"]

X["Sex"] =X["Sex"].map({"male":0, "female":1})
X = X.fillna(-1)

In [24]:
# separando a base de teste 33%

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [25]:
# gera o modelo DecisionTree

mdl = DecisionTreeClassifier(random_state=0, min_samples_leaf=5)
mdl.fit(X_train, y_train)

p = mdl.predict(X_test)
accuracy_score(y_test, p)

0.826530612244898

In [26]:
dt_Test = pd.DataFrame({
    "Sex":[1],
    "Age":40,
    "Pclass": [1]
})

In [27]:
# testando o modelo

mdl.predict(dt_Test)

array([1], dtype=int64)

In [44]:
def predict(Sex, Age, Pclass):
    valores = pd.DataFrame({
        "Sex" : [Sex],
        "Age" : [Age],
        "Pclass" : [Pclass] 
    })
    
    if mdl.predict(valores) == [0]:
        return "não há chances de sobreviver"
    else: 
        return "Há chances de sobreviver"
    
predict(0,70,3)

'não há chances de sobreviver'

In [45]:
probabilities = mdl.predict_proba(X_test)

In [46]:
def predict(Sex, Age, Pclass):
    valores = pd.DataFrame({
        "Sex" : [Sex],
        "Age" : [Age],
        "Pclass" : [Pclass] 
    })
    
    if mdl.predict(valores) == [0]:
        return {"Não há chances de sobreviver": float(probabilities[0])*100}
    else: 
        return {"Há chances de sobreviver": float(probabilities[0])*100}
    
predict(1,70,1)

TypeError: only size-1 arrays can be converted to Python scalars